.App {
  text-align: center;
}

.drop1{
  align-content: center;
  margin: auto;
  width: 250px;
  }
.container{
  margin-top: 10px;
  margin-bottom: 10px;
  padding:10px;
  background-color: black;
  border-radius: 10px;
}
.signup{
  border-radius: 10px;
  border: 10px solid rgb(255, 255, 255);
  background-color: rgb(255, 205, 68);
}
.btn2 button {
  border-radius: 7px;
  width: 80px;
  height: 30px;
  background-color: rgb(18, 15, 17);
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  margin: 10px 5px;
  margin: 5px;
}

input {
  width: 250px;
  border: 2px solid rgb(213, 17, 10);
  border-radius: 4px;
}

input:focus {
  border: 3px solid rgb(98, 0, 255);
}
.signup1{
  padding: 15px;
  border-radius: 10px;
  border: 10px solid rgb(255, 255, 255);
  background-color: #50f5b6;
}
.btn3{
  text-decoration: none;
  border: 1px solid black;
  padding: 1px 7px;
  background-color: black;
  color: azure;
  margin-left:79%;
  width: 60px;
}